<h1>
  Welcome to the Golf App - Shoot Straight!
</h1>
<button [routerLink]="'add-course'">Add Course</button>
<button [routerLink]="'add-round'">Add Round</button>
<div class="top">
  <div>
    <h2>Golfers:</h2>
    <div *ngFor="let golfer of golfers" [routerLink]="['golfer', golfer.id]" class="golfer" [ngClass]="{ 'selected': golfer === selectedGolfer}" (click)="setSelectedGolfer(golfer)">
      <span>{{ golfer.firstName }} {{ golfer.lastName }}</span>
    </div>
  </div>

</div>

<router-outlet></router-outlet>