<div class="content">
    <div class="labels">
        <span>Hole #</span>
        <span>Par</span>
        <span>Score</span>
    </div>
    <div class="half">
        <div *ngFor="let x of frontNine; let i = index" class="box hole-number">
            {{ i + 1 }}
        </div>
        <div *ngFor="let x of frontNine; let i = index" class="box par">
            {{ i * 2 }}
        </div>
        <ng-container *ngIf="frontNine && frontNine.length > 0">
            <div *ngFor="let rh of frontNine; let i = index" class="box">
                {{ rh.score }}
            </div>
        </ng-container>
    </div>
    <div class="spacer"></div>
    <div class="half">
        <div *ngFor="let x of backNine; let i = index" class="box hole-number">
            {{ i + 10 }}
        </div>
        <div *ngFor="let x of backNine; let i = index" class="box par">
            {{ i * 2 }}
        </div>
        <ng-container *ngIf="backNine && backNine.length > 0">
            <div *ngFor="let rh of backNine; let i = index" class="box">
                {{ rh.score }}
            </div>
        </ng-container>
    </div>
</div>