.content {
    border: solid 1px black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    .info {
        height: 40px;
        background: black;
        color: white;
        font-size: 28px;
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: space-between;
        padding: 4px;
    }
    .labels {
        display: grid;
        grid-template-rows: 25px 25px 25px;
        width: 60px;
        span {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            background: silver;
            padding: 5px;
        }
    }
    .half {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        width: 50%;
        grid-template-rows: 25px 25px 25px;
    }
    .spacer {
        width: 10px;
        background: black;
    }
    .box {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(9n) {
            border-right: none;
        }
        &.hole-number {
            background: silver;
            font-weight: bold;
        }
        &.par {
            background: green;
            color: white;
        }
    }
}
.overall {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    background: black;
    color: white;
    height: 40px;
    align-items: center;
    span {
        font-weight: bold;
        font-size: 24px;
    }
}